<div class="container-fluid">
        <h1> Login1 </h1>
        <form #userLoginForm='ngForm'>
            <div class="form-group">
                <label>Email</label>
                <input required pattern= "^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                type="email" [class.is-invalid]="email.invalid && email.touched" #email='ngModel' 
                class="form-control" name="email" [(ngModel)]='scrumUserModel.email'>
                <div *ngIf="email.errors && (email.invalid || email.touched)">
                    <small class="text-danger" *ngIf="email.errors.required && email.touched ">Email is required</small>
                    <small class="text-danger" *ngIf="email.errors.pattern"> Email entered has an invalid pattern</small>
                </div>
                
            </div>
    
            <div class="form-group">
                <label>Password</label>
                <input required  pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#-_?&])[A-Za-z\d$@$!%*#-_?&]{8,}$"
                 #password='ngModel' [class.is-invalid]="password.invalid && password.touched" type="Password" 
                 class="form-control" name="password" [(ngModel)]='scrumUserModel.password'>
                <div *ngIf="password.errors && (password.invalid || password.touched)">
                    
                    <small class="text-danger" *ngIf="password.errors.pattern">
                        password entered is invalid</small>
                        <small class="text-danger" *ngIf="email.errors.required && email.touched ">password is required</small>
                </div>
            </div>
    
            <div class="form-group">
                <label>Project Name</label>
                <input required type="text" class="form-control" name="type" [class.is-invalid]="type.invalid && type.touched" #type='ngModel' [(ngModel)]='scrumUserModel.type'>
                <div *ngIf="type.errors && (type.invalid || type.touched)">
                    <small class="text-danger" *ngIf="type.errors.required && type.touched ">Project Name is required</small>
                </div>
               
            </div>
            <button class="btn btn-primary">Login</button>
        </form>
    </div>