<div class="container-fluid">
        <h1> Create a new account </h1>
    
        <form #userSignupForm='ngForm'>
    
            <div class="form-group">
                <label>Email</label>
                <input required pattern= "^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                type="email" [class.is-invalid]="email.invalid && email.touched" #email='ngModel' 
                class="form-control" name="email" [(ngModel)]='scrumUserModel.email'>
                <div *ngIf="email.errors && (email.invalid || email.touched)">
                    <small class="text-danger" *ngIf="email.errors.required">Email is required</small>
                    <small class="text-danger" *ngIf="email.errors.pattern"> Email entered has an invalid pattern</small>
                </div>
                
            </div>
    
            <div class="form-group">
                <label>Fullname</label>
                <input required type="text" class="form-control" name="fullname" [class.is-invalid]="fullname.invalid && fullname.touched" #fullname='ngModel' [(ngModel)]='scrumUserModel.fullname'>
                <small [class.d-none]="fullname.valid || fullname.untouched" class="text-danger" >
                    Fullname is required</small>
            </div>
    
            <div class="form-group">
                <label>Password</label>
                <input required  pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#-_?&])[A-Za-z\d$@$!%*#-_?&]{8,}$"
                 #password='ngModel' [class.is-invalid]="password.invalid && password.touched" type="Password" 
                 class="form-control" name="password" [(ngModel)]='scrumUserModel.password'>
                <div *ngIf="password.errors && (password.invalid || password.touched)">
                    <small class="text-danger" *ngIf="password.errors.required">password is required</small>
                    <small class="text-danger" *ngIf="password.errors.pattern">
                        password must contains at least 8 characters, one special character, and a number.</small>
                </div>
            </div>
    
    
            <div class="form-group">
                <label>User Types</label>
                <select class="custom-select" name="usertype" >
                <option value=""></option>
                <option *ngFor='let type of userTypes'>{{ type }}</option>
    
                </select>
            </div>
            <button class="btn btn-primary">Create User</button>
        </form>
</div>

<!-- <div class="container-fluid">
    <h1>Create a new account</h1>
    <br>
    <hr>

    <form #userSignupForm="ngForm">

        
        <div class="form_group">
            <label>Email</label>
            <input type="email" class="form-control" name='email' [(ngModel)]='scrumUserModel.email'>
        </div>

        <div class="form_group">
            <label>Fullname</label>
            <input type="text" class="form-control" name='fullname' [(ngModel)]='scrumUserModel.fullname'>
        </div>

        <div class="form_group">
            <label>Password</label>
            <input type="password" class="form-control" name='password' [(ngModel])='scrumUserModel.password'>
        </div>

        <div class="form_group">
            <label>User Type</label>
            <select class="custom-select" name="type" [(ngModel)]='scrumUserModel.type'>
                <option selected>I am signing up as now</option>
                <option *ngFor="let type of userTypes">{{ type }}</option>
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Create User</button>
    </form>
</div>
-->